<footer class="footer">
  <div class="footer_inner">
    <nav class="footernav">
      <ul>
        <li>
          <a href="/">よくある質問 / お問い合わせ<a>
        </li>
        <li>
          <a href="/">利用規約 / プライバシーポリシー</a>
        </li>
      </ul>
    </nav>
    <div class="footer_logo">
      <a href="/">
        <%= link_to image_tag("logo1.png"), root_path%>
      </a>
    </div>
    <p class="copyright">
      © DIG ARTIST All rights reserved.
    </p>
  </div>
</footer>