<div class="card">
  <%= link_to image_tag(song.image, class: :card__img ), song_path(song.id), method: :get %>
  <div class="card__body">
    <%= link_to song.title, song_path(song.id), method: :get , class: :card__title%>
    <%= link_to song.artist.name, artist_path(song.artist.id), class: :card__user %>
  </div>
</div>