<%= render "shared/header" %>
<div class="title_contents">
  <h2>まだ見ぬアーティストを掘り起こせ</h2>
</div>
<main class="main">
  <div class="inner">
    <div class="digartistIs">
      <div class="about_title">
        DIG ARTIST IS
      </div>
      <div class="about_text">
        DIG ARTISTはインディーズ及び、<br>
        アマチュアアーティストを支援するサービスです。
      </div>
    </div>
    <div class="about_body">
    </div>
  </div>
</main>
<%= render "shared/footer" %>