<main class="main">
  <div class="inner">
    <% if artist_signed_in? %>
      <div class="greeting">
        <p> Hello!
        <%= link_to current_artist.name, "/artists/#{current_artist.id}", class: :greeting__link %>
        </p>
      </div>
    <% end %>
    <div class="newitem">
    <p>New Songs</p>
    </div>
    <div class="card__wrapper">
      <%= render partial: "song", collection: @songs %>
    </div>
  </div>
</main>
