<%= render "shared/header" %>
<main class="main">
  <div class="inner">
    <div class="digartistIs">
      <div class="about_title">
        お知らせ
      </div>
      <div class="about_text">
        このページではニュースやおすすめアーティスト、<br>
        LIVE情報など掲載していきます。
      </div>
    </div>
    <div class="about_body">
    </div>
  </div>
</main>
<%= render "shared/footer" %>