/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #fff;
  margin-bottom: 48px;
  padding: 20px 0 10px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ccc;
}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.logo {
  width: 200px;
}
.logo:hover{
  opacity: 0.5;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  background-color: #666;
  text-decoration: none;
  user-select: none;
  border: 1px #000 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #000;
  background: #ebebeb;
}
.nav__center{
  padding-top: 10px;
  margin-left: 20px;
}
.navigation__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #000;
  text-decoration: none;
  user-select: none;
  transition: 0.4s ease;
  position: relative;
}
.navigation__btn::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.navigation__btn:hover::after {
  bottom: -1px;
  opacity: 1;
  visibility: visible;
}
.nav__right{
  display: block;
  margin: 0 0 0 auto;
}
.ranking_menu{
  background-color: #fff;
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 60px;
  top: 61px;
  left: 0;
  border-top: 1px solid #e6e4e4;
  border-bottom: 1px solid #e6e4e4;
  padding-left: 508.5px;
}
.hidden{
  display: none;
}
.ranking_menu li{
  letter-spacing: normal;
  display: inline-block;
  margin: 0;
  list-style-type: none;
}
.ranking_menu_title{
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  font-size: 13px;
  color: #000;
  position: relative;
}
.ranking_menu_title::after {
  position: absolute;
  bottom: -17px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.ranking_menu_title:hover::after {
  bottom: -2px;
  opacity: 1;
  visibility: visible;
}
.song_up__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: red;
  background-color: #fff;
  text-decoration: none;
  user-select: none;
  border: 1px red solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.song_up__btn:hover{
  color: #fff;
  background: rgb(255, 73, 73);
}
.search__btn{
  height: 30px;
  width: 60px;
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: red;
  background-color: #fff;
  text-decoration: none;
  user-select: none;
  transition: 0.4s ease;
}
.search__btn:hover{
  opacity: 0.5;
}
.artistSearchBox{
  max-height: 682px;
  display: block;
  z-index: 5050;
  left: 0;
  position: fixed;
  overflow-y: auto;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0 60px;
  top: 70px;
  background-color: #fff;
  box-shadow: 0px 4px 3.6px 0.4px rgb(0 0 0 / 10%);
}
.hidden{
  display: none;
}
.artistSearchBox_inner{
  max-width: 1100px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  padding: 0 20px;
}
.ttl_artistSearch{
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}
.artistSearch_keyword{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  display: block;
}
.artistSearch_keyword p{
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .1em;
  color: #333;
  word-break: break-all;
}
.js-artistSearch{
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  height: 40px;
  box-sizing: border-box;
  margin-right: 124px;
  width: 90%;
  font-size: 12px;
  padding-left: 10px;
}
.js-artistSearchButton{
  text-align: center;
  background-color: #f2f2f2 !important;
  border: 1px solid #ccc !important;
  color: #333 !important;
  cursor: pointer;
  position: absolute;
  top: 65px;
  right: -5px;
  width: 117px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  border-radius: 5px;
}
.active::after{
  content: "|";
  margin: 0 1em;
  font-size: 14px;
}
.artistSearch_select{
  margin-top: 30px;
}
.artistSearch_tabs li{
  display: inline-block
}
.artistSearch_tabs li span{
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .1em;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}
.artistSearch__genre {
  display: none;
}
.artistSearch__genre ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.artistSearch__genre li:hover{
  opacity: 0.5;
}
.artistSearch__genre li a {
  color: #333;
  border: 1px solid #e4e0e0;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 10px;
  letter-spacing: .05em;
  padding: 3px 5px;
  margin-left: 3px;
}
.artistSearch__area{
  display: none;
}

.artistSearch_areaBox{
  text-align: center;
  width: 31%;
  margin-top: 15px;
  margin-right: 1.272727%;
  display: inline-block;
  vertical-align: top;
}
.artistSearch_areaName{
  height: 48px;
  background-color: #f2f2f2;
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 48px;
  position: relative;
  cursor: pointer;
}
.artistSearch_areaBox ul{
  border-left: 14px solid #f2f2f2;
  border-right: 14px solid #f2f2f2;
  border-bottom: 9px solid #f2f2f2;
  display: none;
}
.artistSearch_areaBox ul li{
  border-bottom: 2px solid #f2f2f2;
}
.artistSearch_areaBox ul li:hover{
  opacity: 0.5;
}
.artistSearch_areaBox ul li a{
  font-size: 12px;
  display: block;
  padding: 10px 0;
}
.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #000;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 68px;
  bottom: 0;
  right: 0;
  background-color: #aaa;
  opacity: 0.7;
}

/* フォーム周り */
.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #f5f5f5;
  justify-content: center;
}
.form__wrapper{
  min-height: calc(100vh - 161px);
}
.form-text-wrap {
  width: 100%;
  height: 20%;
}

.info__text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}
.form__text {
  width: 50%;
  min-height: 36px;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.indispensable {
  background: #ea352d;
  margin: 0px 5px;
  padding: 0px 5px;
  border-radius: 2px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
}

.form__btn{
  display: inline-block;
  margin: 20px 0;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #666;
  border-radius: 3px;
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */

.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: none;
}
.greeting__link:hover{
  opacity: 0.5;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.newitem{
  color: red;
  font-size: 20px;
  border-bottom: #000 solid 1px;
  margin-bottom: 10px;
  padding-top: 50px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  min-height: calc(80vh - 161px);
}
.artist__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  min-height: calc(80vh - 161px);
  margin-bottom: 80px;
}
.card {
  width: calc((100% - 50px) / 4);
  margin-bottom: 40px;
}
.card__img {
  margin-bottom: 16px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  transition: 0.5s;
}
.card__img:hover{
  transform: scale(1.1, 1.1);
}

.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
  text-decoration: underline;
  color: #333333;
}
.card__title:hover{
  opacity: 0.5;
}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 16px;
  color: #333333;
  text-decoration: none;
}
.card__user:hover{
  opacity: 0.5;
}
.card__artist {
  display: block;
  font-size: 20px;
  color: #333333;
  text-decoration: underline;
  margin-bottom: 8px;
}
.card__artist:hover{
  opacity: 0.5;
}
.card__genre {
  display: block;
  font-size: 12px;
  color: #333333;
  text-decoration: none;
}
.card__genre:hover{
  opacity: 0.5;
}

/* 詳細ページ */
.prototype__wrapper{
  min-height: calc(100vh - 161px);
}
.prototype__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
.prototype__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
}
.prototype__user:hover{
  text-decoration: none;
}
.prototype__image{
  margin: 0 auto;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.song__body{
  margin-bottom: 50px;
}
.prototype__song{
  text-align: center;
  margin-top: 5px;
}
.song__img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.song__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-weight: bold;
}
.detail__title__lyric{
  margin-top: 20px;
  font-weight: bold;
}
.detail__lyric{
  white-space: pre-wrap;
  margin-top: 20px;
}
.aritist__info{
  text-align: center;
  margin-bottom: 50px;
  border-top: 1px solid #ccc;
  width: 1024px;
}
.artist_info_title{
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
.artist_info_image{
  margin: 20px;
}
.artist_info_name{
  font-size: 18px;
}
.artist_info_name:hover{
  opacity: 0.5;
}
.prototype__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.prototype__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.prototype__btn:hover{
  color: #fff;
  background: #999;
}

.prototype__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}
.song__share__btn{
  display: flex;
  justify-content: center;
  border: #ccc solid 2px;
  width: 180px;
  margin: 30px auto;
  border-radius: 30px;
  padding: 5px 0;
}
.music__video{
  text-align: center;
}
.video{
  height: 270px;
  width: 480px;
}
/* 検索ページ */
.search__card{
  width: calc((100% - 50px) / 4);
  margin-bottom: 40px;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
  text-align: center;
}
.show_artist_name{
  font-size: 25px;
  margin: 28px;
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
  margin: 0 auto;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.table__col3{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.table__col3:hover{
  opacity: 0.5;
}
.songs__lists{
  margin-top: 40px;
  margin-bottom: 50px;
}
.song__list{
  font-size: 25px;
  margin-bottom: 30px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.artist__btn{
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.artist__btn:hover{
  color: #fff;
  background: #999;
}
.share__btn{
  display: flex;
  justify-content: center;
  border: #ccc solid 2px;
  width: 180px;
  margin: 30px auto;
  border-radius: 30px;
  padding: 5px 0;
}
.twitter_icon{
  width: 28px;
  height: 28px;
  background-size: cover;
  margin-left: 15px;
}
.twitter_icon:hover{
  opacity: 0.6;
}
.facebook_icon{
  width: 26px;
  height: 26px;
  background-size: cover;
  margin-left: 15px;
}
.facebook_icon:hover{
  opacity: 0.6;
}
/* ランキングページ */

.rankpage_title{
  text-align: center;
  padding: 50px 20px 40px;
  border-bottom: solid 1px #333;
  margin-bottom: 50px;
}
.page_title{
  font-size: 26px;
  font-weight: bold;
  letter-spacing: .12em;
}
.page_title::after{
  content: " ";
  display: block;
  background-color: #ccc;
  height: 1px;
  width: 40px;
  margin: 20px auto 0;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
}
.ranking_category{
  padding-top: 20px;
  text-align: center;
  letter-spacing: .12em;
}
.ranking_category ul{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.ranking_category li:first-child{
  border-left: none;
  text-align: center;
}
.ranking_category li{
  border-left: 1px solid #ccc;
  text-align: center;
  font-size: 18px;
  display: inline-block;
  padding: 0 10px;
  font-weight: bold;
}
.ranking_category li span{
  color: #333;
  border-bottom: 3px solid #333;
}
.ranking_category li a{
  color: #ccc;
  border-bottom: 3px solid #fff;
}
.ranking_category li a:hover{
  color: #333;
}
/* フッター */

.footer {
  text-align: center;
  background-color: #f2f2f2;
  padding: 10px 0 10px;
  border-top: 1px solid #ccc;
}
.footer_inner{
  box-sizing: border-box;
  padding: 0 20px;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
.footernav{
  font-size: 12px;
  float: none;
  padding: 10px 0 5px 0;
}
.footernav ul{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.footernav ul li{
  display: inline-block;
  padding: 0 2em;
  line-height: 1.1;
}
.footernav ul li:hover{
  opacity: 0.5;
}
.footernav ul li a{
  font-size: 12px;
  letter-spacing: .1em;
  color: #000;
}
.footer_logo{
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  width: 120px;
  padding-bottom: 20px;
}
.footer_logo:hover{
  opacity: 0.5;
}
.copyright {
  display: inline-block;
  vertical-align: bottom;
  font-weight: 500;
  letter-spacing: .1em;
  font-size: 10px;
  text-align: left;
  padding-bottom: 20px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}